body {
  margin:0;
}


.main {
  background-color: rgb(255, 255, 255, 1);
  height: 100px;
  width: 100%;
  margin:inherit;
  position: sticky;
  top: 0;
}

.main-intro {
  width: 70%;
  margin: auto;
}

.logo-img {
  height: 120px;
}

.container {
  width: 30%;
  height:400px;
  margin: auto;
  background-color: rgb(0, 31, 63, 0.7);
  border-radius: 20% 10% 20% 10%
}

.bgimage {
  height: 500px;
  width: 100%;
  background-image: url("beach.jpg");
  background-size: cover;
}

.heading{
  text-align: center;
  color: white;
  font-size: 45px;
  padding-top: 40px;
}

.menu {
  margin-left: 500px;
  margin-top: -100px;
  padding-top: 20px;
}

.j1 {
  font-size: 17px;
  color: darkblue;
  text-decoration: none;
}

a{
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 30px;
}

a:hover {
  background-color: yellow;
  border-radius: 20px 40px 20px 40px;
}

ul {
  list-style-type: none;
}

h3:hover{
  background-color: yellow;
  color: red;
}

li {
  display: inline-block;
}

.btn {
  font-size: 15px;
  background-color: rgb (17, 17, 17, 0.7);
  color: black;
  margin: auto;
  margin-left: 70px;
  height: 30px;
  width: 60%;
}

.btn:hover {
 background-image: url("space.jpg");

}

.contains {
  width: 300px;
  height: 70px;
  background-color: navy;
  position: absolute;
  right: 40%;
}

.plank {
  width:150px;
  height:40px;
  background-color: yellow;
  position: relative;
  left: 25%;
  top: 22.5%;
}
